{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <div class = key>
      <dl>

        <div class = key-l>
          <p>
          <dt>请输入关键词:
        </div>
        <div class = key-r>
          <dl>
            <div class = key-rl>
              <dd><input margin-left:auto type=text size=50 name=title>
            </div>
            <div class = key-rr>
              <dd><input margin-right:auto type=submit value=Search>
            </div>
          </dl>
        </div>
      </dl>
    </div>
    </form>
  {% endif %}
  <div>
    <ul class=entries>
    {% for entry in entries %}
      <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
    {% else %}
      <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
